@import url(//fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin);

body {
  background-color: #0d1117;
  font-family: 'Ubuntu';
  color: white;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

section {
  padding: 50px;
  text-align: center;
}

section h1, section h2 {
  margin-bottom: 20px;
}

body {
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size:60px;
  text-align:center;
}

.timeline {
  max-width: 800px;
  /* margin: 50px auto; */
  position: relative;
}

.timeline .entry {
  display: flex;
}

.timeline .left {
  flex: 1;
  padding-right: 20px;
  text-align: right;
}

.timeline .logo {
  margin-top: 20px;
}


.timeline .company,
.timeline .position,
.timeline .dates {
  margin: 10px 0;
}

.timeline .middle {
  flex: 0 0 20px;
  position: relative;
  color: white;
}


.timeline .circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
.timeline .middle {
  flex: 0 0 20px; 
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
*/

.timeline .right {
  flex: 2;
}

.timeline .right p {
  margin: 0;
  padding: 10px;
}

.timeline .middle::before {
  content: ""; /* Add this line to set content for the ::before pseudo-element */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  border-left: 2px solid white;
  z-index: 0;
}

/* 
.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
}

.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}

.timeline ul{
  padding:0;
  margin:0;
}

.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}

.timeline ul li:nth-child(odd) {
  float:left;
  text-align:right;
  clear:both;
}

.timeline ul li:nth-child(even) {
  float:right;
  text-align:left;
  clear:both;
}

.timeline content {
  padding-bottom:20px;
}

.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:white;
  border-radius:50%;
  box-shadow:0 0 0 3px white;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:white;
  border-radius:50%;
  box-shadow:0 0 0 3px white;
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:white;
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:white;
  color: black;
  border-radius:18px;
  box-shadow:0 0 0 3px white;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:white;
  color: black;
  border-radius:18px;
  box-shadow:0 0 0 3px white;
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}
*/

/* card arrangements */
.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* flips cards */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Physical attributes of card */
.flip-card-front,
.flip-card-back {
  background-color: rgb(227, 227, 227);
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card .flip-card-front p,
.flip-card .flip-card-back p {
  font-size: 16px;
  margin: 15px 15px;
  color: #333;
  text-align: left;

}